<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="dbConnection" connectionString="Data Source=10.0.0.236;Initial Catalog=ApplicationDb;Integrated Security=SSPI;" />-->
    <add name="dbConnection" connectionString="Data Source=10.0.0.236;Initial Catalog=ApplicationDb;UID=sa;PWD=Syst3m;" />
  </connectionStrings>
  <appSettings>
    <!--<add key="DefaultCulture" value="en-US" />-->
    <!--<add key="DefaultCulture" value="ja" />-->
    <add key="AutoStart" value="1" />
    <add key="ResetBuffer_Min" value="2" />
  </appSettings>
</configuration>
