<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="DefaultCulture" value="en-US" />-->
    <!--<add key="DefaultCulture" value="ja" />-->
    <add key="db_servername" value="(local)\sqlexpress2019"/>
    <add key="db_databasename" value="ApplicationDb"/>
    <add key="db_uid" value="sa"/>
    <add key="db_pwd" value="Syst3m"/>
  </appSettings>
</configuration>